//colors
    $white: #fff;
    $isabelline: #ececec;
    $light-gray: #d1d1d1;
    $smoky-black: #0c0910;
    $granite-gray: #646266;
    $quick-silver: #a6a5a8;

// Fonts
    $old-standard: 'Old Standard TT', serif;
    $old-std-bold: 700;
    $old-std-regular: 400;
    $raleway: 'Raleway', sans-serif;
    $raleway-bold: 700;
    $raleway-regular: 400;

// Font sizes
    $xxx-large: 50px;
    $xx-large: 30px;
    $x-large: 20px;
    $large: 18px;
    $medium: 16px;
    $small: 14px;
    $x-small: 12px;

//breakpoint
    $laptop_view: 992px;
    $tablet_view: 576px;
    $mobil_view: 375px;