.image {
    background-image: url(/assets/img/imagen1.png);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    
}

.container__title {
    font-family: $old-standard;
    font-weight: bold; 
    font-size: $x-large;
}

.container h1{
    padding: 2rem!important;
}

.container__paragraph{
   // padding: 2rem!important;
    color: $granite-gray;
    font-weight: $raleway;
    line-height: 1.4;
}

.col-h2 {
    font-family: $old-standard;
    color: $white;
    font-size: 30px;
    font-weight: lighter;
    width: 100%;
    height: auto;
}

.col-h4 {
    font-family: $old-standard;
    color: $white;
    font-size: 18px;
    font-weight: lighter;
    margin-top: 18px;
    margin-bottom: 4px;
    width: 100%;
    height: auto;
}
.container__newsletter {
    background-color: $smoky-black;
    height: 200px!important;
    padding: 2rem;
    margin-left: -5px;
    width: 100%;
}

.container__contents {
    padding: 2rem;
}

.container_title_vertical {
    transform: rotate(90deg);
    font-family: $old-standard;
    font-weight: bold; 
    font-size: $large;
    margin-left: 339px;
    margin-right: -121px;

}
