
.main__info {
    width: 100%;
    height: auto;
    grid-column: 1 / 3;
    grid-row: 0;
    background-color: $white;
    margin-top: 34vh;
}

.main__title {
    width: 100%;
    height: auto;
    font-size: 48px !important;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: $old-standard;
}

.main__paragraph {
    margin-top: 37px;
    width: 100%;
    height: auto;
    color: $quick-silver;
    font-size: 17px;
    font-family: $old-standard;
}

.row {
    grid-column: 1 / 2;
    grid-row: 0;
    background-color: $smoky-black;
    width: 100%;
    height: auto;
}


.row__email {
    width: 80%;
    height: 30px;
    color: $granite-gray !important;   
}

